// Variables.
$white: #fff;
$black: #000;

$primary: #FBFBFB;
$secondary: #000;

// Should only be used with white as background.
$accent-pink: #CC00FF;
$accent-blue: #0080FF;
$accent-purple: #6B25FF;


// Not variables.
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#app {
    overflow: hidden;
}