@import "@/assets/style/_fonts.scss";
@import "@/assets/style/_variables.scss";
@import "@/assets/style/_mixins.scss";

body {
  background-color: #0a0a0a;
  color: var(--text-primary); // Use your new variable
  margin: 0;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}