/* Color Variables. */
$dark-background: #000113;
$dark-blue: #11232d;
$blue: #0b2b8f;
$light-blue: #1b48d2;
$purple: #a808e9;
$light-purple: #d25fff;
$white: #fff;

/* Backgrounds */
@mixin main-background {
  background: $dark-blue;
  background: linear-gradient(21deg, $dark-blue 11%, $blue 50%, $purple 100%);
}

@mixin dark-background {
  background: $dark-blue;
  background: linear-gradient(21deg, $dark-background 50%, $blue 100%);
}

/* Transitions. */
$main-transition: all .3s ease-in-out;
$main-transition--slow: all .7s ease-in-out;

/* Media Queries. */
@mixin mobile-up {
  @media only screen and (min-width: 420px) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: 630px) {
    @content;
  }
}

@mixin  laptop-up {
  @media only screen and (min-width: 1110px) {
    @content;
  }
}

/* Global styling */
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

.btn {
  display: block;
  width: fit-content;
  border-radius: 30px;
  padding: .5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  &--outline {
    &-purple {
      border: 3px solid $light-purple;
      color: $light-purple;
      transition: $main-transition;

      &:hover {
        background-color: $light-purple;
        color: $dark-background;
      }
    }
  }

  &--purple {
    background-color: $light-purple;
    border: 3px solid $light-purple;
    color: $dark-background;
  }
}
