$accent: #1cbfbf;
$lighter-stone: #f7f7f7;
$light-stone: #e7e7e7;
$stone: #dbdbdb;

h2 {
  font-size: 32px;
  font-weight: bolder;
}
.boldify {
  font-weight: bolder;
}
.thinify {
  font-weight: normal;
}